
#barraLateral{
    
    width: 250px;
    height: 100%;
    z-index: 2;
    position: fixed;
    background-color: #0A0C23;

    margin-left: 3px;
    border-radius: 0px 5px 5px 0px;
    top: 0;
    left:-500px;
    transition: left 0.4s ease-in-out;
}

.showBarraLateral{
    left: 0 !important;
}
#cerrarBarraLateral{
    
    position: absolute;
    background-color: #a9a3a3;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    
}

/* opciones del menu desplegable */
.optionsDesplegables{
    width: 100%;
    height: auto;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    transition: all 50ms;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-shadow: -1px -1px 2px  white;

}
.optionsDesplegables:hover{
    
    color: #a9a3a3;
    cursor: pointer;
}

/* emergente  para anadir producto */
.addproducto{
    
    width: var(--widthFormUser);
    height:  510px;
    z-index: 4;
    position: absolute;
    background-color: rgb(42, 59, 103);
    top: 40px;
    left: 520px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #0A0C23;
}


#formAddProducto{
    display: none;
    margin-top: 10px;

}
.centrarBoton{
    text-align: center;
}



.cancelar{
    text-transform: capitalize;
    background-color: rgb(241, 141, 141);
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    border: 1px dashed red;
    margin-right: 5px;
    transition: all 500ms;

}
.cancelar:hover{
    cursor: pointer;
    background-color: red;
    color: whitesmoke;
    border: 1px solid white;
    
}

.enviarDatos{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    transition: all 500ms;
}

.enviarDatos:hover{
    cursor: pointer;
    background-color: #0A0C23;
    border-radius: 3px solid white;
    color: white;
}

.separarBotonForm{
     margin-top: 5px;
}
