:root{
    --menu-size:1110px;
}

body{
    background-color: rgb(128, 140, 140);
    background: url("./../../assets/media/imgs/fondos/background-44-1920x1024.jpg") no-repeat center/cover;
    background-size: 100% 100%;
}

#barra{
    
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.671), 2px 2px 2px rgba(255, 255, 255, 0.614), -2px -2px 2px rgba(255, 255, 255, 0.585), -2px -2px 2px rgba(255, 255, 255, 0.665);
    border-radius: 10px;
    border: none !important;
}




#seleccionar{
    background-color: rgba(181, 204, 173, 0.814);
    /*background: radial-gradient(circle, #f2f4f0 0%, #c5cac8 100%);*/
    
    border-radius: 10px;
}   
#seleccionar option{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    background: rgba(198, 204, 202, 0.635);
}
#atras{
    text-transform: capitalize;
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.633);
    box-shadow: 2px 2px 2px rgba(237, 157, 157, 0.894),2px 2px 2px rgba(237, 157, 157, 0.894);
}
#atras:hover{
    box-shadow: none;
    background: rgba(198, 238, 136, 0.713);
    color: green;
}
#adelante{
    text-transform: capitalize;
    border: 1px solid white;
    color: rgba(241, 240, 240, 0.989);
    box-shadow: 2px 2px 2px rgba(237, 157, 157, 0.894),2px 2px 2px rgba(237, 157, 157, 0.894);
}
#adelante:hover{
    background: rgb(2, 34, 2);
    box-shadow: none;
    border:1px dashed white;
}
/*pie de pagina*/

#menu{
    position: fixed;
    left:   2;
    bottom: 0;
    
}
#menu footer{
    width: var(--menu-size);
    margin-bottom: 2px;
    
}
#lista{
    
}
#inicio{
    margin-left: 5%;
    margin-right: 5%;
    
}
.imgsize{
    width: 35px;
    height: 35px;
}
.imgsize:hover{
    border: 1px solid green;

}

#comida{
    width: 17%;
    padding-left:7%;
    padding-right: 7%;
}
#comida a{
    padding: 0px;
    margin-top: 6px;
}
#busqueda{
    width: 35%;  
}
#lupa{
    width:25px;
    height:25px;
}
#elementos{
    width:20%;
    
}
#favorito{
    width:20%;
    
}
#elementos img , #favorito img{
    cursor: pointer;
}





.subtitulo{
    font-size: 14px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.727);
}
@media (max-width:1200px) {
    body {
        background-image: none;
    }

    #cuerpo {
        background-color: rgb(128, 140, 140);
        background: url("./../../assets/media/imgs/fondos/background-44-1920x1024.jpg") no-repeat center/cover;
        background-size: 100% 100%;
    }

}

