body{
    background-color: rgb(128, 140, 140);
    background: url("../../assets/media/imgs/fondos/verde rocoso.jpg") no-repeat center/cover;
    background-size: 100% 100%   ;
}

#Bienvenido{
    color: rgba(10, 80, 10, 0.899);
    font-size: 80px;
    text-shadow: 2px 2px 3px rgb(207, 203, 203), 3px 3px 4px rgb(201, 197, 197) ;
    transition: all 500ms ;
}
#Bienvenido:hover{
    color: rgb(185, 245, 170);
    cursor: none;  
}

#enlace{
    text-decoration: none;
    color: rgba(98, 146, 40, 0.757);
}
#enlace:hover{
    color: aliceblue;
}
#boton{
    box-shadow: 2px 2px 2px white, 2px 2px 2px white, 2px 2px 2px white, -2px -2px 2px white;
}
#boton:hover{
    color: beige;
    background: linear-gradient(113deg, #043605 0%, #1e6420 100%);
    box-shadow: 2px 2px 2px white inset, 2px 2px 2px white inset, 2px 2px 2px white inset, -2px -2px 2px white inset;
}
@media (max-width:1200px){
    body{
        background-image: none;
    }
   #cuerpo{

        background-color: rgb(128, 140, 140);
        background: url("../../assets/media/imgs/fondos/verde rocoso.jpg") no-repeat center/cover;
        background-size: 100% 100%   ;
    }

    #Bienvenido{
        font-size: 60px;
    } 
}
@media (max-width:992px){
    #Bienvenido{
        font-size: 40px;
    }   
}
@media (max-width:530px){
    #Bienvenido{
        font-size: 30px;
    }
    #icono{
        font-size: 10px;
    }
    
}