:root {
    --menu-size: 1110px;
}


#cuerpo {

    background-color: rgb(128, 140, 140);
    /* background: url("./../../assets/media/imgs/fondos/background-44-1920x1024.jpg") no-repeat center/cover; */
    background-size: 100% 100%;
}


.dtmNavbar{
    box-shadow: 0px 2px 3px rgba(169, 166, 166, 0.848);
    margin-bottom: 50px;
    background-color: rgba(79, 81, 81, 0.71);
}


#barradesplgable {
    background-color: transparent;
    margin-top: 5px !important;
    /* box-shadow: 2px 2px 2px rgb(178, 175, 175); */
}

#barradesplgable img {
    width: 32px;
    height: 32px;
}

#barradesplgable:hover {
    box-shadow: none;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.921));
}

#icon_user button img {
    width: 32px;            
    height: 32px;
    /* box-shadow: 3px 3px 3px rgb(178, 175, 175); */
}

#icon_user button:hover img {
    box-shadow: none;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.896));
}

/*tarjetas de productos*/
#tarjeta {
    width: 400px;
    height: 100px;
    background-color: rgba(79, 81, 81, 0.71);
}

#imgproduct {
    width: 100px;
    height: 100px;
}

.datoproduct {
    color: white;
    text-transform: capitalize;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
    font-style: oblique;
}

#direccion {

    width: 100px;
    overflow: hidden;
    color: aliceblue;
    transition: all 3s;
}

#favorito img {
    width: 35px;
    height: 34px;
}

#comprar img {
    width: 35px;
    height: 34px;
}

/*pie de pagina*/
#pie {
    width: 82%;
    position: fixed;
    left: 2;
    bottom: 0;
    box-shadow: 0px -2px 3px rgba(169, 166, 166, 0.848); 
    background-color: rgba(79, 81, 81, 0.71);
    padding: 5px 0px ;
}
.iconmenu {

    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;

}

#pie .iconmenu:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.896));    
}




@media (max-width:1200px) {

    body {
        background-image: none;
    }

    #menu footer {
        width: 930px;
    }

    #cuerpo {
        background-color: rgb(128, 140, 140);
        /* background: url("./../../assets/media/imgs/fondos/background-44-1920x1024.jpg") no-repeat center/cover; */
        background-size: 100% 100%;
    }

}

@media (max-width:991px) {
    #pie {
        width: 70%;
    }
}

@media (max-width: 575px) {
    
}

@media (max-width:375px) {

    /* respossive correcto hast las 298 px de width */
    #tarjeta {
        height: 87px;
    }

    #nombre {
        margin-bottom: 0px !important;
    }

    .descrip {
        font-size: 12px;
    }

    #imgproduct {
        width: 80px;
        height: 80px;
        padding-top: 7px !important;
    }

    #direccion {
        width: 60px;
    }

    #favorito img {
        width: 30px;
        height: 30px;
    }

    #comprar img {
        width: 30px;
        height: 30px;
    }
}