body {
    background-color: rgb(128, 140, 140);
    background: url("./../../assets/media/imgs/fondos/background-44-1920x1024.jpg") no-repeat center/cover;
    background-size: 100% 100%;
}

.verse {
    text-indent: 10px;
    color: green;
    padding: 3px;
    font-weight: bold;
    letter-spacing: 1px;
}
.verse:hover{
    font-weight: initial;
    color: rgb(74, 242, 74);;
    text-shadow: 2px 2px 2px rgba(142, 250, 212, 0.613);
}

#checkbox {
    margin-inline-start: 0px;
}
/*
#envio {
    box-shadow: 2px 2px 2px white, 3px 3px 3px white, 2px 2px 2px white;
    /* background: radial-gradient(circle, #11f7cd 0%, #8e9d5f 100%);
    
}

#envio:hover {
    color: white;
}*/
#atras{
    text-transform: capitalize;
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.633);
    box-shadow: 2px 2px 2px rgba(237, 157, 157, 0.894),2px 2px 2px rgba(237, 157, 157, 0.894);
}
#atras:hover{
    box-shadow: none;
    background: rgba(198, 238, 136, 0.713);
    color: green;
}
#adelante{
    text-transform: capitalize;
    border: 1px solid white;
    color: rgba(241, 240, 240, 0.989);
    box-shadow: 2px 2px 2px rgba(237, 157, 157, 0.894),2px 2px 2px rgba(237, 157, 157, 0.894);
}
#adelante:hover{
    background: rgb(2, 34, 2);
    box-shadow: none;
    border:1px dashed white;
}


@media (max-width: 1200px) {
    body {
        background-image: none;
    }

    #cuerpo {
        background-color: rgb(128, 140, 140);
        background: url("./../../assets/media/imgs/fondos/background-44-1920x1024.jpg") no-repeat center/cover;
        background-size: 100% 100%;
    }
}
@media (max-width:767px){
    .verse{
        font-size: 12px;
    }
}